<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--Connection String goes here -->
  <connectionStrings>
    <add name="SSPOSDBConnectionString" connectionString="Data Source=LAPTOP-STRANGEM\SQLEXPRESS;Initial Catalog=SSPOS;Integrated Security=True;" providerName="System.Data.SqlClient" />
	  <!--<add name="SSPOSDBConnectionString"
				 connectionString="Data Source=SRUJAN\MSSQLSERVER01;Initial Catalog=SSPOS;Integrated Security=True;"
				 providerName="System.Data.SqlClient" />-->
  </connectionStrings>
	
	
  <!--Biiling and APP setting-->
  <appSettings>
    <add key="UPI_ID" value="sankalpmshet09@okicici" />
    <add key="PayeeName" value="SSPOS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>