USE [master]
GO
/****** Object:  Database [SSPOS]    Script Date: 15-01-2025 07:07:54 PM ******/
CREATE DATABASE [SSPOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SSPOS', FILENAME = N'D:\SSPOS-WINFORMS-25-09-2024\Database\SSPOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SSPOS_log', FILENAME = N'D:\SSPOS-WINFORMS-25-09-2024\Database\SSPOS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SSPOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SSPOS]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Subcategory] [varchar](100) NOT NULL,
	[UOM] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedProduct]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedProduct](
	[ID] [int] NULL,
	[ProductName] [varchar](255) NULL,
	[Code] [int] NULL,
	[MRP] [decimal](10, 2) NULL,
	[CategoryID] [int] NULL,
	[RegularPrice] [decimal](10, 2) NULL,
	[DirectPrice] [decimal](10, 2) NULL,
	[OutsidePrice] [decimal](10, 2) NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [varchar](100) NULL,
	[ModifiedDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillNo] [varchar](50) NOT NULL,
	[TableNo] [int] NOT NULL,
	[TableSection] [varchar](50) NOT NULL,
	[WaiterId] [int] NOT NULL,
	[PriceSection] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Qty] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NOT NULL,
	[UpdatedDate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Code] [int] NULL,
	[MRP] [decimal](10, 2) NULL,
	[CategoryID] [int] NOT NULL,
	[RegularPrice] [decimal](10, 2) NULL,
	[DirectPrice] [decimal](10, 2) NULL,
	[OutsidePrice] [decimal](10, 2) NULL,
	[CreatedBy] [varchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](100) NOT NULL,
	[ModifiedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seating]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seating](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableNumber] [varchar](10) NOT NULL,
	[Capacity] [int] NOT NULL,
	[IsReserved] [bit] NOT NULL,
	[ReservationTime] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[IsDeleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 15-01-2025 07:07:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Company] [nvarchar](255) NULL,
	[Role] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Category], [Subcategory], [UOM]) VALUES (1, N'Liquor(IML)', N'Whiskey', N'30ml')
INSERT [dbo].[Category] ([ID], [Category], [Subcategory], [UOM]) VALUES (2, N'Liquor(IML)', N'Whiskey', N'60ml')
INSERT [dbo].[Category] ([ID], [Category], [Subcategory], [UOM]) VALUES (3, N'Liquor(IML)', N'Whiskey', N'90ml')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [BillNo], [TableNo], [TableSection], [WaiterId], [PriceSection], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (59, N'20250107211652133', 1, N'A', 12, N'Regular', N'Billed', N'TestUser', CAST(N'2025-01-07T21:16:52.143' AS DateTime), N'TestUser', CAST(N'2025-01-07T21:16:52.143' AS DateTime), 0)
INSERT [dbo].[Order] ([Id], [BillNo], [TableNo], [TableSection], [WaiterId], [PriceSection], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (60, N'20250111183706719', 1, N'A', 12, N'Regular', N'Ordered', N'TestUser', CAST(N'2025-01-11T18:37:06.730' AS DateTime), N'TestUser', CAST(N'2025-01-11T18:37:06.730' AS DateTime), 0)
INSERT [dbo].[Order] ([Id], [BillNo], [TableNo], [TableSection], [WaiterId], [PriceSection], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (61, N'20250111190202171', 2, N'A', 12, N'Regular', N'Billed', N'TestUser', CAST(N'2025-01-11T19:02:02.177' AS DateTime), N'TestUser', CAST(N'2025-01-11T19:02:02.177' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Qty], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (74, 59, 2001, CAST(130.00 AS Decimal(18, 2)), 1, N'Billed', N'TestUser', CAST(N'2025-01-07T21:16:52.150' AS DateTime), N'TestUser', CAST(N'2025-01-07T21:16:52.150' AS DateTime), 0)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Qty], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (75, 59, 2002, CAST(160.00 AS Decimal(18, 2)), 1, N'Billed', N'TestUser', CAST(N'2025-01-07T21:16:52.213' AS DateTime), N'TestUser', CAST(N'2025-01-07T21:16:52.213' AS DateTime), 0)
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Price], [Qty], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (76, 60, 1011, CAST(240.00 AS Decimal(18, 2)), 1, N'Ordered', N'TestUser', CAST(N'2025-01-11T18:37:06.747' AS DateTime), N'TestUser', CAST(N'2025-01-11T18:37:06.747' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [ProductName], [Code], [MRP], [CategoryID], [RegularPrice], [DirectPrice], [OutsidePrice], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (20, N'Margarita', 1001, CAST(1.00 AS Decimal(10, 2)), 1, CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), CAST(1.00 AS Decimal(10, 2)), N'Admin', CAST(N'2024-12-14T11:12:36.120' AS DateTime), N'TestUser', CAST(N'2025-01-11T19:00:49.440' AS DateTime))
INSERT [dbo].[Product] ([ID], [ProductName], [Code], [MRP], [CategoryID], [RegularPrice], [DirectPrice], [OutsidePrice], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (21, N'Martini', 1002, CAST(301.00 AS Decimal(10, 2)), 1, CAST(280.00 AS Decimal(10, 2)), CAST(270.00 AS Decimal(10, 2)), CAST(290.00 AS Decimal(10, 2)), N'Admin', CAST(N'2024-12-14T11:12:36.120' AS DateTime), N'TestUser', CAST(N'2025-01-04T19:56:14.317' AS DateTime))
INSERT [dbo].[Product] ([ID], [ProductName], [Code], [MRP], [CategoryID], [RegularPrice], [DirectPrice], [OutsidePrice], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (22, N'Old Fashioned', 1003, CAST(350.00 AS Decimal(10, 2)), 1, CAST(330.00 AS Decimal(10, 2)), CAST(320.00 AS Decimal(10, 2)), CAST(340.00 AS Decimal(10, 2)), N'Admin', CAST(N'2024-12-14T11:12:36.120' AS DateTime), N'Admin', CAST(N'2024-12-14T11:12:36.120' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Seating] ON 

INSERT [dbo].[Seating] ([ID], [TableNumber], [Capacity], [IsReserved], [ReservationTime], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (1, N'1', 4, 0, NULL, N'Available', N'Admin', CAST(N'2024-12-19T19:22:43.133' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Seating] ([ID], [TableNumber], [Capacity], [IsReserved], [ReservationTime], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (2, N'2', 2, 1, CAST(N'2024-06-19T19:00:00.000' AS DateTime), N'Reserved', N'Admin', CAST(N'2024-12-19T19:22:43.133' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[Seating] ([ID], [TableNumber], [Capacity], [IsReserved], [ReservationTime], [Status], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate], [IsDeleted]) VALUES (3, N'3', 6, 0, NULL, N'Available', N'Manager', CAST(N'2024-12-19T19:22:43.133' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Seating] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemUsers] ON 

INSERT [dbo].[SystemUsers] ([Id], [Name], [Password], [Email], [Company], [Role], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (1, N'TestUser', N'NOAB2oU4OiWgfAO1uDXXmF/alqmbpcTSdyVILICEvS4IlCALER+VrmtWgBc55P2G', N'TestUser@gmail.com', N'TestCompany', 1, 1, N'Test', CAST(N'2024-10-12T11:37:17.410' AS DateTime), N'TestUser', CAST(N'2024-10-17T20:20:50.890' AS DateTime), 0)
INSERT [dbo].[SystemUsers] ([Id], [Name], [Password], [Email], [Company], [Role], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (9, N'John Doe', N'zfXvoXuGy/mYWaNkEosvansmXcrcFz+M9SuN34uMz9O3fMSAcevq8WfOWqdbTU37', N'john.doe@example.com', N'Tech Corp', 0, 1, N'System', CAST(N'2024-10-17T20:29:10.577' AS DateTime), N'John Doe', CAST(N'2024-10-19T13:18:42.630' AS DateTime), 0)
INSERT [dbo].[SystemUsers] ([Id], [Name], [Password], [Email], [Company], [Role], [IsActive], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [IsDeleted]) VALUES (10, N'Jane Smith', N'jAYB3876kX+tiwZzQM0sLmK4y3RnrAM/RKyw51DrPNpidY+9TPo6hVjLdn00T4VI', N'jane.smith@example.com', N'Foodie Inc.', 2, 1, N'System', CAST(N'2024-10-17T20:29:10.577' AS DateTime), N'Jane Smith', CAST(N'2024-10-19T13:19:35.793' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SystemUsers] OFF
GO
/****** Object:  Index [UQ__Product__A25C5AA779B21FE3]    Script Date: 15-01-2025 07:08:02 PM ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemUs__A9D10534A51F0302]    Script Date: 15-01-2025 07:08:02 PM ******/
ALTER TABLE [dbo].[SystemUsers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Regular') FOR [PriceSection]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.00)) FOR [MRP]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.00)) FOR [RegularPrice]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.00)) FOR [DirectPrice]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0.00)) FOR [OutsidePrice]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [ModifiedDate]
GO
ALTER TABLE [dbo].[Seating] ADD  DEFAULT ((0)) FOR [IsReserved]
GO
ALTER TABLE [dbo].[Seating] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Seating] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Seating] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SystemUsers]  WITH CHECK ADD CHECK  (([Role]>=(0) AND [Role]<=(10)))
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Procedure to read all records
CREATE PROCEDURE [dbo].[Category_ReadAll]
AS
BEGIN
    SELECT [ID], [Category], [Subcategory], [UOM]
    FROM [SSPOS].[dbo].[Category];
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadByCategory]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Procedure to read by Category with distinct Subcategory
CREATE PROCEDURE [dbo].[Category_ReadByCategory]
    @Category NVARCHAR(255)
AS
BEGIN
    SELECT  ID,[Category], [Subcategory],UOM
    FROM [SSPOS].[dbo].[Category]
    WHERE [Category] = @Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadByID]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Procedure to read by ID
CREATE PROCEDURE [dbo].[Category_ReadByID]
    @ID INT
AS
BEGIN
    SELECT [ID], [Category], [Subcategory], [UOM]
    FROM [SSPOS].[dbo].[Category]
    WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadBySubcategory]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Procedure to read by Subcategory
CREATE PROCEDURE [dbo].[Category_ReadBySubcategory]
    @Subcategory NVARCHAR(255)
AS
BEGIN
    SELECT [ID], [Category], [Subcategory], [UOM]
    FROM [SSPOS].[dbo].[Category]
    WHERE [Subcategory] = @Subcategory;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadByUOM]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Procedure to read by UOM
CREATE PROCEDURE [dbo].[Category_ReadByUOM]
    @UOM NVARCHAR(50)
AS
BEGIN
    SELECT [ID], [Category], [Subcategory], [UOM]
    FROM [SSPOS].[dbo].[Category]
    WHERE [UOM] = @UOM;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadDistinctCategory]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Procedure to read all records
CREATE PROCEDURE [dbo].[Category_ReadDistinctCategory]
AS
BEGIN
    SELECT distinct[Category], 0 as [ID],'' as [Subcategory],'' as [UOM]
    FROM [SSPOS].[dbo].[Category];
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadDistinctSubcategoryByCategory]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Procedure to read all records
CREATE PROCEDURE [dbo].[Category_ReadDistinctSubcategoryByCategory]
   @Category NVARCHAR(255)
AS
BEGIN
    SELECT distinct[Subcategory], 0 as [ID], [Category],''as [UOM]
    FROM [SSPOS].[dbo].[Category]
	WHERE [Category] = @Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadDistinctUOMBySubcategory]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedure to read distinct UOMs by Subcategory and Category
CREATE PROCEDURE [dbo].[Category_ReadDistinctUOMBySubcategory]
   @Subcategory NVARCHAR(255),
   @Category NVARCHAR(MAX)
AS
BEGIN
    SELECT DISTINCT [UOM], [ID], [Category], [Subcategory]
    FROM [SSPOS].[dbo].[Category]
    WHERE [Subcategory] = @Subcategory AND [Category] = @Category;
END;
GO
/****** Object:  StoredProcedure [dbo].[Category_ReadID]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Procedure to read by UOM
create PROCEDURE [dbo].[Category_ReadID]
	@Category NVARCHAR(255),
	@Subcategory NVARCHAR(255),
	@UOM NVARCHAR(50)
AS
BEGIN
    SELECT [ID], [Category], [Subcategory], [UOM]
    FROM [SSPOS].[dbo].[Category]
    WHERE 
	[Category] = @Category 
	AND	[Subcategory] = @Subcategory
	AND [UOM] = @UOM;
END;
GO
/****** Object:  StoredProcedure [dbo].[Order_Create]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Order_Create]
    @BillNo VARCHAR(50),
    @TableNo INT,
    @TableSection VARCHAR(50),
    @WaiterId INT,
    @PriceSection VARCHAR(50) = 'Regular',  -- Default to 'Regular'
    @Status VARCHAR(50),
    @CreatedBy VARCHAR(50),
    @NewRowId INT OUTPUT -- Add the output parameter
AS
BEGIN
    INSERT INTO [dbo].[Order] 
    (
        [BillNo],
        [TableNo],
        [TableSection],
        [WaiterId],
        [PriceSection],
        [Status],
        [CreatedBy],
        [UpdatedBy]
    )
    VALUES
    (
        @BillNo,
        @TableNo,
        @TableSection,
        @WaiterId,
        @PriceSection,
        @Status,
        @CreatedBy,
        @CreatedBy
    );

    -- Set the output parameter to the row count
    SET  @NewRowId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[Order_Delete]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 5. Order_Delete
CREATE PROCEDURE [dbo].[Order_Delete]
    @Id INT
AS
BEGIN
    UPDATE [dbo].[Order]
    SET [IsDeleted] = 0,
        [UpdatedDate] = GETDATE()
    WHERE [Id] = @Id;
END;

-- Stored Procedures for OrderDetail Table
GO
/****** Object:  StoredProcedure [dbo].[Order_GetByTableAndPosition]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Order_GetByTableAndPosition]
    @TableNo INT,
    @TableSection VARCHAR(10),
	@status NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    -- Retrieve rows from the Order table based on TableNo and TableSection
    SELECT [Id],
           [BillNo],
           [TableNo],
           [TableSection],
           [WaiterId],
           [PriceSection],
           [Status],
           [CreatedBy],
           [CreatedDate],
           [UpdatedBy],
           [UpdatedDate],
           [IsDeleted]
    FROM [SSPOS].[dbo].[Order]
    WHERE [TableNo] = @TableNo
      AND [TableSection] = @TableSection
	  AND IsDeleted = 0 
	   AND (@status IS NULL OR Status = @status)
END
GO
/****** Object:  StoredProcedure [dbo].[Order_OrderUpdateOrderStatus]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Order_OrderUpdateOrderStatus]
    @status NVARCHAR(20),
    @OrderId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validate input parameters
        IF @status IS NULL OR LEN(@status) = 0
            THROW 50000, 'Invalid status value.', 1;

        IF @OrderId IS NULL OR @OrderId <= 0
            THROW 50001, 'Invalid OrderId value.', 1;

        BEGIN TRANSACTION;

        -- Update Order table
        UPDATE [dbo].[Order]
        SET Status = @status
        WHERE Id = @OrderId;

        -- Update OrderDetail table
        UPDATE [dbo].[OrderDetail]
        SET Status = @status
        WHERE OrderId = @OrderId;

        -- Commit the transaction
        COMMIT TRANSACTION;

        -- Return success value
        RETURN 1; -- Indicate success
    END TRY
    BEGIN CATCH
        -- Rollback transaction in case of an error
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        -- Return failure value
        RETURN 0; -- Indicate failure
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Order_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. Order_ReadAll
CREATE PROCEDURE [dbo].[Order_ReadAll]
AS
BEGIN
    SELECT 
        [Id],
        [BillNo],
        [TableNo],
        [TableSection],
        [WaiterId],
        [PriceSection],
        [Status],
        [CreatedBy],
        [CreatedDate],
        [UpdatedBy],
        [UpdatedDate]
    FROM [dbo].[Order]
    WHERE [IsDeleted] = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Order_ReadById]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. Order_ReadById
CREATE PROCEDURE [dbo].[Order_ReadById]
    @Id INT
AS
BEGIN
    SELECT 
        [Id],
        [BillNo],
        [TableNo],
        [TableSection],
        [WaiterId],
        [PriceSection],
        [Status],
        [CreatedBy],
        [CreatedDate],
        [UpdatedBy],
        [UpdatedDate]
    FROM [dbo].[Order]
    WHERE [Id] = @Id AND [IsDeleted] = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Order_Update]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. Order_Update
CREATE PROCEDURE [dbo].[Order_Update]
    @Id INT,
    @BillNo VARCHAR(50),
    @TableNo INT,
    @TableSection VARCHAR(50),
    @WaiterId INT,
    @PriceSection VARCHAR(50),
    @Status VARCHAR(50),
    @UpdatedBy VARCHAR(50)
AS
BEGIN
    UPDATE [dbo].[Order]
    SET
        [BillNo] = @BillNo,
        [TableNo] = @TableNo,
        [TableSection] = @TableSection,
        [WaiterId] = @WaiterId,
        [PriceSection] = @PriceSection,
        [Status] = @Status,
        [UpdatedBy] = @UpdatedBy,
        [UpdatedDate] = GETDATE()
    WHERE [Id] = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_Create]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderDetail_Create]
    @OrderId INT,
    @ProductId INT,
    @Price DECIMAL(18, 2),
    @Qty INT,
    @Status VARCHAR(50),
    @CreatedBy VARCHAR(50),
    @RowCount INT OUTPUT -- Add the output parameter
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if the record exists
    IF EXISTS (
        SELECT 1 FROM [dbo].[OrderDetail]
        WHERE [OrderId] = @OrderId
          AND [ProductId] = @ProductId
          AND [Price] = @Price
          AND [Status] = @Status
    )
    BEGIN
        -- Update the quantity by adding the existing Qty with the new Qty
        UPDATE [dbo].[OrderDetail]
        SET [Qty] = [Qty] + @Qty,
            [UpdatedBy] = @CreatedBy
        WHERE [OrderId] = @OrderId
          AND [ProductId] = @ProductId
          AND [Price] = @Price
          AND [Status] = @Status;
        
        -- Set the output parameter to the number of affected rows
        SET @RowCount = @@ROWCOUNT;
    END
    ELSE
    BEGIN
        -- Insert a new record
        INSERT INTO [dbo].[OrderDetail] 
        (
            [OrderId],
            [ProductId],
            [Price],
            [Qty],
            [Status],
            [CreatedBy],
            [UpdatedBy]
        )
        VALUES
        (
            @OrderId,
            @ProductId,
            @Price,
            @Qty,
            @Status,
            @CreatedBy,
            @CreatedBy
        );
        
        -- Set the output parameter to the number of affected rows
        SET @RowCount = @@ROWCOUNT;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_Delete]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 5. OrderDetail_Delete
CREATE PROCEDURE [dbo].[OrderDetail_Delete]
    @Id INT
AS
BEGIN
    UPDATE [dbo].[OrderDetail]
    SET [IsDeleted] = 0,
        [UpdatedDate] = GETDATE()
    WHERE [Id] = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_DeletePermanently]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderDetail_DeletePermanently]
    @TableId INT,
    @TablePosition VARCHAR(10),
    @ProductCode INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Declare a variable to hold the number of rows affected
    DECLARE @RowsAffected INT;

    -- Perform the delete operation and capture the number of rows affected
    DELETE OD
    FROM [dbo].[OrderDetail] OD
    INNER JOIN [dbo].[Order] O ON O.Id = OD.OrderId
    WHERE O.TableNo = @TableId 
          AND O.TableSection = @TablePosition
          AND OD.ProductId = @ProductCode;

    SET @RowsAffected = @@ROWCOUNT;

    -- Return 1 if rows were affected, otherwise 0
    IF @RowsAffected > 0
        RETURN 1;
    ELSE
        RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_GetOrderDetails]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderDetail_GetOrderDetails]
    @TableNo INT = NULL,           -- Optional filter by TableNo
    @WaiterId INT = NULL,          -- Optional filter by WaiterId
    @IsDeleted BIT = 0,            -- Default to not deleted
    @TablePosition NVARCHAR(50) = NULL, -- Optional filter by TablePosition
    @Status NVARCHAR(50) = NULL    -- Optional filter by Status
AS
BEGIN
    SELECT 
        o.Id AS OrderId,
        o.BillNo,
        o.TableNo,
        s.TableNumber,
        od.ProductId,
        p.ProductName,
        p.Code AS ProductCode,
        o.TableSection AS TablePosition,
        c.UOM,
		c.Category,
        od.Status AS OrderDetailStatus,
        od.Price,
        od.Qty,
        od.Qty * od.Price AS Total,
		o.CreatedDate 
    FROM 
        [SSPOS].[dbo].[Order] o
    INNER JOIN 
        [SSPOS].[dbo].[OrderDetail] od ON o.Id = od.OrderId
    LEFT JOIN 
        [SSPOS].[dbo].[Product] p ON p.Code = od.ProductId
    LEFT JOIN 
        [SSPOS].[dbo].[Seating] s ON s.ID = o.TableNo
    LEFT JOIN 
        [SSPOS].[dbo].[Category] c ON c.ID = p.CategoryID
    WHERE 
        o.IsDeleted = @IsDeleted
        AND (@TableNo IS NULL OR o.TableNo = @TableNo)  -- Filter by TableNo if provided
        AND (@WaiterId IS NULL OR o.WaiterId = @WaiterId)  -- Filter by WaiterId if provided
        AND (@TablePosition IS NULL OR o.TableSection = @TablePosition) -- Filter by TablePosition if provided
        AND (@Status IS NULL OR od.Status = @Status)  -- Filter by Status if provided
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 3. OrderDetail_ReadAll
CREATE PROCEDURE [dbo].[OrderDetail_ReadAll]
AS
BEGIN
    SELECT 
        [Id],
        [OrderId],
        [ProductId],
        [Price],
        [Qty],
        [Status],
        [CreatedBy],
        [CreatedDate],
        [UpdatedBy],
        [UpdatedDate]
    FROM [dbo].[OrderDetail]
    WHERE [IsDeleted] = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_ReadById]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. OrderDetail_ReadById
CREATE PROCEDURE [dbo].[OrderDetail_ReadById]
    @Id INT
AS
BEGIN
    SELECT 
        [Id],
        [OrderId],
        [ProductId],
        [Price],
        [Qty],
        [Status], 
        [CreatedBy],
        [CreatedDate],
        [UpdatedBy],
        [UpdatedDate]
    FROM [dbo].[OrderDetail]
    WHERE [Id] = @Id AND [IsDeleted] = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_ReadByOrderId]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. OrderDetail_ReadById
CREATE PROCEDURE [dbo].[OrderDetail_ReadByOrderId]
    @OrderId INT
AS
BEGIN
    SELECT 
        [Id],
        [OrderId],
        [ProductId],
        [Price],
        [Qty],
        [Status], 
        [CreatedBy],
        [CreatedDate],
        [UpdatedBy],
        [UpdatedDate]
    FROM [dbo].[OrderDetail]
    WHERE [OrderId] = @OrderId AND [IsDeleted] = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[OrderDetail_Update]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2. OrderDetail_Update
CREATE PROCEDURE [dbo].[OrderDetail_Update]
    @Id INT,
    @OrderId INT,
    @ProductId INT,
    @Price DECIMAL(18, 2),
    @Qty INT,
    @Status VARCHAR(50),
    @UpdatedBy VARCHAR(50),
	@RowsAffected INT OUTPUT 
AS
BEGIN
    UPDATE [dbo].[OrderDetail]
    SET
        [OrderId] = @OrderId,
        [ProductId] = @ProductId,
        [Price] = @Price,
        [Qty] = @Qty,
        [Status] = @Status,
        [UpdatedBy] = @UpdatedBy,
        [UpdatedDate] = GETDATE()
    WHERE [Id] = @Id;

	 -- Return the number of rows affected
    SET @RowsAffected = @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_Create]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Product_Create
CREATE PROCEDURE [dbo].[Product_Create]
    @ProductName VARCHAR(255),
    @Code INT,   
    @MRP DECIMAL(10,2),
    @CategoryID INT,
    @RegularPrice DECIMAL(10,2),
    @DirectPrice DECIMAL(10,2),
    @OutsidePrice DECIMAL(10,2),
    @CreatedBy VARCHAR(100)
    
    
AS
BEGIN
    INSERT INTO Product (ProductName, Code, MRP, CategoryID, RegularPrice, DirectPrice, 
						OutsidePrice, CreatedBy, ModifiedBy)
    VALUES (@ProductName, @Code, @MRP, @CategoryID, @RegularPrice, @DirectPrice, 
			@OutsidePrice, @CreatedBy, @CreatedBy);

    RETURN @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_Delete]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Modified Stored Procedure: Product_Delete
CREATE PROCEDURE [dbo].[Product_Delete]
    @ID INT
AS
BEGIN
    DELETE FROM Product WHERE ID = @ID;

    RETURN @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure: Product_ReadAll
CREATE PROCEDURE [dbo].[Product_ReadAll]
AS
BEGIN
     SELECT 
        P.[ID],
        P.[ProductName],
        P.[Code],
        P.[MRP],
        P.[CategoryID],
        C.[Category] AS [CategoryName],
        C.[Subcategory],
        C.[UOM],
        P.[RegularPrice],
        P.[DirectPrice],
        P.[OutsidePrice],
        P.[CreatedBy],
        P.[CreatedDate],
        P.[ModifiedBy],
        P.[ModifiedDate]
    FROM 
        Product AS P
    LEFT JOIN 
        Category AS C ON P.[CategoryID] = C.[ID];
	  
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_ReadByCode]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure: Product_ReadByCode
CREATE PROCEDURE [dbo].[Product_ReadByCode]
    @Code INT
AS
BEGIN
     SELECT 
        P.[ID],
        P.[ProductName],
        P.[Code],
        P.[MRP],
        P.[CategoryID],
        C.[Category] AS [CategoryName],
        C.[Subcategory],
        C.[UOM],
        P.[RegularPrice],
        P.[DirectPrice],
        P.[OutsidePrice],
        P.[CreatedBy],
        P.[CreatedDate],
        P.[ModifiedBy],
        P.[ModifiedDate]
    FROM 
        Product AS P
    LEFT JOIN 
        Category AS C ON P.[CategoryID] = C.[ID]
	  WHERE Code = @Code 
	
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_ReadByID]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure: Product_ReadByID
CREATE PROCEDURE [dbo].[Product_ReadByID]
    @ID INT
AS
BEGIN
      SELECT 
        P.[ID],
        P.[ProductName],
        P.[Code],
        P.[MRP],
        P.[CategoryID],
        C.[Category] AS [CategoryName],
        C.[Subcategory],
        C.[UOM],
        P.[RegularPrice],
        P.[DirectPrice],
        P.[OutsidePrice],
        P.[CreatedBy],
        P.[CreatedDate],
        P.[ModifiedBy],
        P.[ModifiedDate]
    FROM 
        Product AS P
    LEFT JOIN 
        Category AS C ON P.[CategoryID] = C.[ID]
	 WHERE P.ID = @ID ;
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_ReadByProductName]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure: Product_ReadByProductName
CREATE PROCEDURE [dbo].[Product_ReadByProductName]
    @ProductName VARCHAR(255)
AS
BEGIN
     SELECT 
        P.[ID],
        P.[ProductName],
        P.[Code],
        P.[MRP],
        P.[CategoryID],
        C.[Category] AS [CategoryName],
        C.[Subcategory],
        C.[UOM],
        P.[RegularPrice],
        P.[DirectPrice],
        P.[OutsidePrice],
        P.[CreatedBy],
        P.[CreatedDate],
        P.[ModifiedBy],
        P.[ModifiedDate]
    FROM 
        Product AS P
    LEFT JOIN 
        Category AS C ON P.[CategoryID] = C.[ID]
	  WHERE ProductName = @ProductName 
	 
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_Update]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_Update]
    @ID INT,
    @ProductName VARCHAR(255),
    @Code INT,
    @MRP DECIMAL(10,2),
    @CategoryID INT,
    @RegularPrice DECIMAL(10,2),
    @DirectPrice DECIMAL(10,2),
    @OutsidePrice DECIMAL(10,2),
    @ModifiedBy VARCHAR(100),
    @RowsAffected INT OUTPUT  -- Adding output parameter
AS
BEGIN
    -- Update statement
    UPDATE Product
    SET ProductName = @ProductName,
        Code = @Code,
        MRP = @MRP,
        CategoryID = @CategoryID,
        RegularPrice = @RegularPrice,
        DirectPrice = @DirectPrice,
        OutsidePrice = @OutsidePrice,
        ModifiedBy = @ModifiedBy,
        ModifiedDate = GETDATE()
    WHERE ID = @ID;

    -- Set the output parameter to the number of affected rows
    SET @RowsAffected = @@ROWCOUNT;
    
    -- Optional: If no rows were affected, set @RowsAffected to 0
    IF @RowsAffected = 0
    BEGIN
        SET @RowsAffected = 0;  -- Ensure zero if no rows are affected
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[Product_UpdateCodeAndPrice]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Stored Procedure: Product_Update
CREATE PROCEDURE [dbo].[Product_UpdateCodeAndPrice]
    @ID INT,
    @Code INT,
    @MRP DECIMAL(10,2),
    @RegularPrice DECIMAL(10,2),
    @DirectPrice DECIMAL(10,2),
    @OutsidePrice DECIMAL(10,2),
    @ModifiedBy VARCHAR(100),
	@ReturnValue INT OUTPUT -- Add output parameter for row count
   
AS
BEGIN
    UPDATE Product
    SET Code = @Code,
        MRP = @MRP,
        RegularPrice = @RegularPrice,
        DirectPrice = @DirectPrice,
        OutsidePrice = @OutsidePrice,
        ModifiedBy = @ModifiedBy,
        ModifiedDate = GETDATE()
    WHERE ID = @ID;

      SET @ReturnValue = @@ROWCOUNT;
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_Create]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_Create]
    @TableNumber VARCHAR(10),
    @Capacity INT,
    @IsReserved BIT,
    @ReservationTime DATETIME,
    @Status VARCHAR(20),
    @CreatedBy VARCHAR(50)
AS
BEGIN
    INSERT INTO Seating (
        TableNumber,
        Capacity,
        IsReserved,
        ReservationTime,
        Status,
        CreatedBy,
        CreatedDate
    )
    VALUES (
        @TableNumber,
        @Capacity,
        @IsReserved,
        @ReservationTime,
        @Status,
        @CreatedBy,
        GETDATE()
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_MarkAsDeleted]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_MarkAsDeleted]
    @ID INT,
    @UpdatedBy VARCHAR(50)
AS
BEGIN
    UPDATE Seating
    SET 
        IsDeleted = 1,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE()
    WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_ReadAll]
AS
BEGIN
    SELECT 
        ID,
        TableNumber,
        Capacity,
        IsReserved,
        ReservationTime,
        Status,
        CreatedBy,
        CreatedDate,
        UpdatedBy,
        UpdatedDate,
        IsDeleted
    FROM Seating
    WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_ReadByID]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_ReadByID]
    @ID INT
AS
BEGIN
    SELECT 
        ID,
        TableNumber,
        Capacity,
        IsReserved,
        ReservationTime,
        Status,
        CreatedBy,
        CreatedDate,
        UpdatedBy,
        UpdatedDate,
        IsDeleted
    FROM Seating
    WHERE ID = @ID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_ReadByTableNumber]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_ReadByTableNumber]
    @TableNumber VARCHAR(10)
AS
BEGIN
    SELECT 
        ID,
        TableNumber,
        Capacity,
        IsReserved,
        ReservationTime,
        Status,
        CreatedBy,
        CreatedDate,
        UpdatedBy,
        UpdatedDate,
        IsDeleted
    FROM Seating
    WHERE TableNumber = @TableNumber AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[Seating_Update]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Seating_Update]
    @ID INT,
    @TableNumber VARCHAR(10),
    @Capacity INT,
    @IsReserved BIT,
    @ReservationTime DATETIME,
    @Status VARCHAR(20),
    @UpdatedBy VARCHAR(50)
AS
BEGIN
    UPDATE Seating
    SET 
        TableNumber = @TableNumber,
        Capacity = @Capacity,
        IsReserved = @IsReserved,
        ReservationTime = @ReservationTime,
        Status = @Status,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE()
    WHERE ID = @ID AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_Create]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SystemUsers_Create]
    @Name NVARCHAR(100),
    @Password NVARCHAR(255),
    @Email NVARCHAR(255),
    @Company NVARCHAR(255),
    @Role INT,
    @CreatedBy NVARCHAR(100)
AS
BEGIN
    INSERT INTO SystemUsers(Name, Password, Email, Company, Role,  CreatedBy, CreatedDate)
    VALUES (@Name, @Password, @Email, @Company, @Role, @CreatedBy, GETDATE());
END;

GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_ReadAll]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemUsers_ReadAll]
AS
BEGIN
    SELECT * FROM SystemUsers
    WHERE IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_ReadByUserId]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemUsers_ReadByUserId]
    @Id INT
AS
BEGIN
    SELECT Id, Name, Email, Company, Role, IsActive, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate
    FROM SystemUsers
    WHERE Id=@Id AND IsDeleted = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_ReadByUserName]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemUsers_ReadByUserName]
    @UserName NVARCHAR(100)
AS
BEGIN
    SELECT Id, Name, Password, Email, Company, Role, IsActive, CreatedBy, CreatedDate, ModifiedBy, ModifiedDate, IsDeleted
    FROM SystemUsers
    WHERE Name = @UserName AND IsDeleted = 0;

	RETURN @@ROWCOUNT
END;
GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_ReadByUserRole]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemUsers_ReadByUserRole]
    @Role INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        [Id],
        [Name],
        [Password],
        [Email],
        [Company],
        [Role],
        [IsActive],
        [CreatedBy],
        [CreatedDate],
        [ModifiedBy],
        [ModifiedDate],
        [IsDeleted]
    FROM [SSPOS].[dbo].[SystemUsers]
    WHERE [Role] = @Role
      AND [IsDeleted] = 0 -- Assuming you only want non-deleted users
    ORDER BY [CreatedDate]; -- You can change this to your preferred sorting order
END
GO
/****** Object:  StoredProcedure [dbo].[SystemUsers_Update]    Script Date: 15-01-2025 07:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SystemUsers_Update]
    @Id INT, -- Added parameter for user identification
    @Name NVARCHAR(100),
    @Password NVARCHAR(255),
    @Email NVARCHAR(255),
    @Company NVARCHAR(255),
    @Role TINYINT,
    @IsActive BIT,
    @IsDeleted BIT,
    @ModifiedBy NVARCHAR(100),
    @ModifiedDate DATETIME,
    @rowsAffected INT OUTPUT  -- Add output parameter for affected rows
AS
BEGIN
    SET NOCOUNT ON; -- Prevents extra result sets from interfering with SELECT statements

    UPDATE SystemUsers
    SET 
        Name = @Name,
        Password = @Password,
        Email = @Email,
        Company = @Company,
        Role = @Role,
        IsActive = @IsActive,
        IsDeleted = @IsDeleted,
        ModifiedBy = @ModifiedBy,
        ModifiedDate = @ModifiedDate
    WHERE 
        Id = @Id;  -- Identify the record to update by Id

    -- Set the output parameter to the number of rows affected
    SET @rowsAffected = @@ROWCOUNT;  -- Return the number of affected rows
END;
GO
USE [master]
GO
